* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaaaaa;
}

footer .row, .chapter .chapter__inner, .lesson .lesson__inner, .add .add__inner, .info .info__inner, .about, .intro .intro__inner, .header__inner {
  padding: 0 70px;
  margin: 0 auto;
  max-width: 1440px;
}
@media (max-width: 1024px) {
  footer .row, .chapter .chapter__inner, .lesson .lesson__inner, .add .add__inner, .info .info__inner, .about, .intro .intro__inner, .header__inner {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  footer .row, .chapter .chapter__inner, .lesson .lesson__inner, .add .add__inner, .info .info__inner, .about, .intro .intro__inner, .header__inner {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  footer .row, .chapter .chapter__inner, .lesson .lesson__inner, .add .add__inner, .info .info__inner, .about, .intro .intro__inner, .header__inner {
    padding: 0 15px;
  }
}

.chapter h1, .lesson h1, .info h1, .about .about__inner .about__content h1, .intro .intro__inner h1 {
  color: #1a3a46;
  text-align: center;
  font-family: Cardo;
  font-size: 42px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 768px) {
  .chapter h1, .lesson h1, .info h1, .about .about__inner .about__content h1, .intro .intro__inner h1 {
    font-size: 30px;
  }
}

.chapter .chapter__inner .chapter__item h2, .info .info__inner .info__item h3, .intro .intro__inner .intro__container .intro__item .item__inner .sss, .intro .intro__inner .intro__container .intro__item .item__inner h4 {
  color: #1a3a46;
  font-family: Cardo;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
}

.chapter .chapter__inner .chapter__item p, .lesson .lesson__inner .lesson__content .lesson__item p, .add .add__inner .add__content p, .info .info__inner .info__item p, .about .about__inner .about__content .about__container .about__item span, .about .about__inner .about__content p, .intro .intro__inner .intro__container .intro__item .item__inner p, .header .header__content .part1 .btn__container a, .header .header__content .part1 p, .header .header__content .part1 h3, .header .header__navigation .nav .nav__link {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: 0.17px;
}
@media (max-width: 480) {
  .chapter .chapter__inner .chapter__item p, .lesson .lesson__inner .lesson__content .lesson__item p, .add .add__inner .add__content p, .info .info__inner .info__item p, .about .about__inner .about__content .about__container .about__item span, .about .about__inner .about__content p, .intro .intro__inner .intro__container .intro__item .item__inner p, .header .header__content .part1 .btn__container a, .header .header__content .part1 p, .header .header__content .part1 h3, .header .header__navigation .nav .nav__link {
    font-size: 14px;
    line-height: 20px;
  }
}

.add .add__inner .add__content a, .intro .intro__inner .intro__container .intro__item .item__inner a, .header .header__content .part1 .btn__container button, .header .header__navigation .nav button {
  border: 2px solid #FFCA42;
  background: #FFCA42;
  width: 222px;
  height: 66px;
}
.add .add__inner .add__content a span, .intro .intro__inner .intro__container .intro__item .item__inner a span, .header .header__content .part1 .btn__container button span, .header .header__navigation .nav button span {
  color: #1B3764;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
}
.add .add__inner .add__content a:hover, .intro .intro__inner .intro__container .intro__item .item__inner a:hover, .header .header__content .part1 .btn__container button:hover, .header .header__navigation .nav button:hover {
  background-color: #107b7b;
}
.add .add__inner .add__content a:hover span, .intro .intro__inner .intro__container .intro__item .item__inner a:hover span, .header .header__content .part1 .btn__container button:hover span, .header .header__navigation .nav button:hover span {
  color: #F6F8FC;
}

.header {
  background-size: cover;
  width: 100%;
  background-color: #022930;
  padding-bottom: 150px;
  position: relative;
}
.header .header__navigation {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__navigation .logo {
  display: flex;
}
.header .header__navigation .logo img {
  margin-right: 10%;
}
.header .header__navigation .logo .social__item {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border: 1px solid #e8ecee;
  transition: 0.1s linear;
  margin-right: 3%;
}
.header .header__navigation .logo .social__item:nth-last-child(1) {
  margin: 0;
}
.header .header__navigation .logo .social__item:hover {
  background-color: #048cd1;
}
.header .header__navigation .logo .social__icon {
  fill: #c6cacc;
  display: block;
  height: 18px;
  transition: fill 0.1s linear;
}
.header .header__navigation .menu {
  display: none;
}
.header .header__navigation .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header__navigation .nav .nav__link {
  text-decoration: none;
  margin-right: 5%;
  display: inline-block;
  color: #F6F8FC;
}
.header .header__navigation .nav .nav__link:hover {
  color: #FFCA42;
}
.header .header__content {
  margin-top: 50px;
  display: flex;
  color: #F6F8FC;
}
.header .header__content .part1 {
  width: 50%;
  padding-top: 100px;
}
.header .header__content .part1 h3 {
  font-style: italic;
  margin-left: 5%;
  position: relative;
  display: flex;
  font-size: 30px;
  margin: 10px 0;
}
.header .header__content .part1 h3::before {
  content: "";
  display: block;
  margin: auto 5px;
  width: 25px;
  height: 2px;
  border: 1px solid #FFCA42;
}
.header .header__content .part1 h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 1.3px;
}
.header .header__content .part1 p:nth-child(4) {
  padding-top: 24px;
}
.header .header__content .part1 .btn__container {
  display: flex;
  margin-top: 42px;
  align-items: center;
}
.header .header__content .part1 .btn__container a {
  color: #F6F8FC;
  text-decoration: none;
  width: 120px;
  margin-left: 4%;
  border-bottom: 1px solid #FFFFFF;
}
.header .header__content .part1 .btn__container a:hover {
  color: #fdcb00;
  border-color: #fdcb00;
}
.header .header__content .part1 .rating {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header .header__content .part1 .rating .rating__item {
  padding: 10px;
}
.header .header__content .part1 .rating .rating__item h4 {
  font-family: Cardo;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.48px;
}
.header .header__content .part1 .rating .rating__item h4::before {
  content: "";
  display: inline-block;
  background-color: #FFCA42;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
}
.header .header__content .part1 .rating .rating__item span {
  margin-left: 10%;
  display: block;
  white-space: nowrap;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.header .header__content .part2 {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.header .header__content .part2 img {
  border: 8px solid #ffffff;
  width: 432px;
  height: 700px;
}

.intro {
  width: 100%;
}
.intro .intro__inner {
  width: 100%;
  margin-top: 120px;
}
.intro .intro__inner .intro__container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.intro .intro__inner .intro__container .intro__item {
  display: flex;
  padding-bottom: 30px;
}
.intro .intro__inner .intro__container .intro__item img {
  width: 285px;
  height: 380px;
}
.intro .intro__inner .intro__container .intro__item .item__inner {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}
.intro .intro__inner .intro__container .intro__item .item__inner h5 {
  color: #815c00;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
.intro .intro__inner .intro__container .intro__item .item__inner p {
  color: #4d5561;
  max-width: 250px;
}
.intro .intro__inner .intro__container .intro__item .item__inner .sss {
  font-weight: 400;
  padding: 10px 0;
}
.intro .intro__inner .intro__container .intro__item .item__inner .sss::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFCA42;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}
.intro .intro__inner .intro__container .intro__item .item__inner a {
  border: 1px solid #da9c00;
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.about {
  margin-top: 300px;
  width: 100%;
}
.about .about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.about .about__inner .about__img {
  position: relative;
  border: 10px solid #FFCA42;
  width: 470px;
  height: 545px;
  box-shadow: 0px 0px 20px 0px rgba(27, 55, 100, 0.3);
  margin-right: 50px;
}
.about .about__inner .about__img img {
  position: absolute;
  width: 450px;
  height: 545px;
  bottom: 40px;
  right: 40px;
  opacity: 90%;
}
.about .about__inner .about__content {
  margin-top: 10px;
}
.about .about__inner .about__content h1 {
  border-bottom: 3px solid #d39700;
}
.about .about__inner .about__content p {
  padding-top: 30px;
  color: #576578;
  width: 100%;
  max-width: 359px;
}
.about .about__inner .about__content .about__container {
  display: flex;
}
.about .about__inner .about__content .about__container .about__item {
  padding: 9px;
}
.about .about__inner .about__content .about__container .about__item .about__num {
  color: #1B3764;
  font-family: Cardo;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 77px; /* 142.593% */
}
.about .about__inner .about__content .about__container .about__item span {
  color: #576578;
}

.info {
  margin-top: 200px;
}
.info .info__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}
.info .info__inner .info__item {
  width: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.info .info__inner .info__item img {
  width: 189px;
  height: 100px;
}
.info .info__inner .info__item h3 {
  padding: 15px 0;
}
.info .info__inner .info__item p {
  color: #576578;
  width: 230px;
  text-align: center;
}

.add {
  margin-top: 100px;
  background-color: #022930;
  background-size: cover;
  padding: 50px 0;
}
.add .add__inner {
  display: flex;
  justify-content: space-between;
}
.add .add__inner .add__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.add .add__inner .add__content h1 {
  color: #FFF;
  font-family: Cardo;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 120% */
  text-transform: capitalize;
}
.add .add__inner .add__content p {
  color: #F6F8FC;
  width: 100%;
  max-width: 400px;
  margin: 27px 0;
}
.add .add__inner .add__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.add .add__inner img {
  width: 460px;
  height: 294px;
}

.lesson {
  margin-top: 136px;
}
.lesson h1 {
  padding-bottom: 50px;
}
.lesson .lesson__inner {
  display: flex;
  justify-content: space-between;
}
.lesson .lesson__inner .lesson__content {
  padding-top: 40px;
  width: 440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lesson .lesson__inner .lesson__content .lesson__item {
  max-width: 180px;
  width: 50%;
  margin-right: auto;
}
.lesson .lesson__inner .lesson__content .lesson__item span {
  padding: 10px;
  color: #1B3764;
  font-family: Cardo;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  border-radius: 50%;
  background: #FFCA42;
}
.lesson .lesson__inner .lesson__content .lesson__item p {
  padding-top: 40px;
  color: #1B3764;
}
.lesson .lesson__inner .lesson__img {
  position: relative;
  left: 40px;
  border: 10px solid #FFCA42;
  width: 535px;
  height: 632px;
}
.lesson .lesson__inner .lesson__img img {
  height: 632px;
  width: 555px;
  position: relative;
  bottom: 40px;
  right: 50px;
}

.chapter {
  margin-top: 85px;
}
.chapter .chapter__inner {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1010px;
}
.chapter .chapter__inner .chapter__item {
  width: 400px;
  margin: 40px 0;
}
.chapter .chapter__inner .chapter__item p {
  color: #444547;
  margin-bottom: 10px;
  width: 400px;
}

footer {
  background-color: #141313;
  padding: 70px 0;
}
footer .footer-col {
  /* background-color: #2C2C2C; */
  width: 33%;
  padding: 0 15px;
}
footer .footer-col h4 {
  font-size: 18px;
  color: #c47200;
  margin-bottom: 30px;
  position: relative;
  font-weight: 400;
}
footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ad9b82;
  height: 2px;
  width: 50px;
}
footer .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer-col ul li {
  list-style-type: none;
}
footer .footer-col ul li a {
  list-style-type: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #c4c4c4;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
footer .footer-col ul li a:hover {
  color: #FFFFFF;
  padding-left: 7px;
}
footer .social-links {
  display: flex;
  flex-wrap: nowrap;
}
footer .social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: #ffffff 3px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
footer .svg-icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: #ffffff;
  background-color: none;
}
footer .social-link:hover {
  border-color: #bb998e;
}

@media (max-width: 1100px) {
  .about {
    margin-top: 200px;
  }
  .about .about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about__inner .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 150px;
  }
  .header .header__navigation .logo {
    width: 100%;
    margin: 0 auto;
  }
  .header .header__navigation .logo .social__item {
    display: none;
  }
  .header .header__navigation .menu {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 3;
  }
  .header .header__navigation .menu:after, .header .header__navigation .menu:before {
    content: "";
    background-color: #F6F8FC;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all 0.3s linear;
  }
  .header .header__navigation .menu:after {
    top: 0;
  }
  .header .header__navigation .menu:before {
    bottom: 0;
  }
  .header .header__navigation .menu span {
    position: absolute;
    width: 100%;
    top: 13.5px;
    height: 3px;
    background-color: #F6F8FC;
  }
  .header .header__navigation .menu.active {
    overflow: hidden;
  }
  .header .header__navigation .menu.active.active::after, .header .header__navigation .menu.active.active::before {
    background-color: rgb(255, 47, 47);
  }
  .header .header__navigation .menu.active.active::before {
    transform: rotate(45deg);
    bottom: 13px;
  }
  .header .header__navigation .menu.active.active::after {
    transform: rotate(-45deg);
    top: 13px;
  }
  .header .header__navigation .menu.active.active span {
    transform: scale(0);
  }
  .header .header__navigation .nav {
    width: unset;
    background-color: rgba(0, 16, 19, 0.9019607843);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 10px;
    display: none;
  }
  .header .header__navigation .nav .nav__link {
    border: #ffffff 1px solid;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
  }
  .header .header__navigation .nav .nav__link:hover {
    background-color: #F6F8FC;
    border-color: #1B3764;
    color: #000000;
  }
  .header .header__navigation .nav .nav__link:nth-child(5) {
    display: none;
  }
  .header .header__navigation .nav button {
    display: none;
  }
  .header .header__navigation .nav.active {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    z-index: 1;
  }
  .header .header__content .part1 h1 {
    font-size: 40px;
    line-height: 50px;
    position: relative;
  }
  .header .header__content .part1 .btn__container {
    flex-direction: column;
  }
  .header .header__content .part1 .btn__container a {
    margin-top: 30px;
  }
  .header .header__content .part1 .rating {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 90px;
    justify-content: space-around;
  }
  .header .header__content .part2 img {
    width: 322px;
    height: 510px;
  }
  .info {
    margin-top: 150px;
  }
  .add .add__inner .add__content p {
    margin: 15px 0;
  }
  .lesson .lesson__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .lesson .lesson__inner .lesson__content .lesson__item {
    margin-bottom: 60px;
    max-width: none;
    width: 190px;
  }
  .chapter .chapter__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .chapter .chapter__inner .chapter__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chapter .chapter__inner .chapter__item p {
    width: 100%;
    max-width: 400px;
  }
  .chapter .chapter__inner .chapter__item .chapter__container p {
    font-size: 17px;
    white-space: nowrap;
  }
  .chapter .chapter__inner .chapter__item .chapter__container p::before {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 768px) {
  .header .header__content {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  .header .header__content .part1 {
    padding: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header .header__content .part1 h3 {
    font-size: 30px;
    margin: 25px auto;
    white-space: nowrap;
  }
  .header .header__content .part1 p {
    font-size: 29px;
    line-height: 39px;
  }
  .header .header__content .part2 {
    margin-top: 40px;
    width: 100%;
  }
  .header .header__content .part2 img {
    margin: 0 auto;
    width: 352px;
    height: 460px;
  }
  .header footer {
    background-color: #141313;
    padding: 70px 0;
  }
  .header footer .footer-col {
    width: 100% !important;
    padding: 0 15px;
  }
  .intro .intro__inner {
    margin-top: 50px;
  }
  .intro .intro__inner .intro__container .intro__item img {
    width: 200px;
    height: 300px;
  }
  .about .about__inner .about__img {
    left: 20px;
    width: 410px;
    height: 495px;
    border-width: 5px;
    margin-bottom: 40px;
  }
  .about .about__inner .about__img img {
    width: 400px;
    height: 495px;
    right: 40px;
    bottom: 40px;
  }
  .add {
    overflow: hidden;
    position: relative;
  }
  .add .add__inner .add__content {
    width: 50%;
  }
  .add .add__inner .add__content h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .add .add__inner .add__content p {
    margin: 15px 0;
  }
  .add .add__inner img {
    position: absolute;
    top: 20px;
    right: -25%;
  }
  .lesson .lesson__inner .lesson__content {
    margin: 20px auto;
  }
  .lesson .lesson__inner .lesson__img {
    width: 400px;
    height: 485px;
    left: 10px;
  }
  .lesson .lesson__inner .lesson__img img {
    width: 400px;
    height: 495px;
  }
}
@media (max-width: 617px) {
  .add {
    overflow: hidden;
    position: relative;
  }
  .add .add__inner .add__content {
    width: 40%;
  }
  .add .add__inner .add__content h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .add .add__inner .add__content p {
    margin: 15px 0;
    line-height: 20px;
  }
  .add .add__inner img {
    position: absolute;
    top: 20px;
    right: -33%;
  }
}
@media (max-width: 480px) {
  .header .header__content {
    margin-top: 20px;
  }
  .header .header__content .part1 {
    padding-top: 20px;
  }
  .header .header__content .part1 h3 {
    font-size: 20px;
    line-height: 17px;
    margin: 15px auto;
  }
  .header .header__content .part1 h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .header .header__content .part1 p {
    font-size: 15px;
    line-height: 20px;
  }
  .header .header__content .part1 p:nth-child(4) {
    padding-top: 15px;
  }
  .header .header__content .part1 .btn__container a {
    margin-top: 15px;
  }
  .header .header__content .part1 .rating {
    width: 100%;
    right: 0;
    left: 0;
  }
  .header .header__content .part1 .rating .rating__item h4 {
    white-space: unset;
    font-size: 14px;
  }
  .header .header__content .part1 .rating .rating__item h4::before {
    content: "";
    width: 10px;
    height: 10px;
  }
  .header .header__content .part1 .rating .rating__item span {
    font-size: 13px;
    margin: 0;
  }
  .header .header__content .part2 img {
    width: 252px;
    height: 352px;
  }
  .intro .intro__inner .intro__container {
    padding-top: 20px;
  }
  .intro .intro__inner .intro__container .intro__item img {
    width: 150px;
    height: 250px;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner {
    padding-top: 5px;
    padding-left: 5px;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner h4 {
    font-size: 23px;
    line-height: 20px;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner h5 {
    font-size: 15px;
    line-height: 18px;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner p {
    letter-spacing: unset;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner .sss {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .intro .intro__inner .intro__container .intro__item .item__inner a {
    width: 120px;
  }
  .about {
    margin-top: 100px;
  }
  .about .about__inner .about__img {
    left: 30px;
    width: 250px;
    height: 345px;
    border-width: 5px;
    margin-bottom: 40px;
  }
  .about .about__inner .about__img img {
    width: 250px;
    height: 345px;
    right: 10%;
    bottom: 20px;
  }
  .about .about__inner .about__content {
    width: 100%;
  }
  .about .about__inner .about__content h1 {
    font-size: 30px;
  }
  .about .about__inner .about__content p {
    width: 80%;
  }
  .about .about__inner .about__content .about__container .about__item .about__num {
    font-size: 35px;
  }
  .info {
    margin-top: 100px;
  }
  .info .info__inner {
    padding-top: 20px;
  }
  .add {
    overflow: hidden;
    position: relative;
  }
  .add .add__inner {
    align-items: center;
  }
  .add .add__inner .add__content {
    width: 40%;
  }
  .add .add__inner .add__content h1 {
    font-size: 21px;
    line-height: 25px;
  }
  .add .add__inner .add__content p {
    margin: 10px 0;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
  }
  .add .add__inner img {
    top: 20px;
    right: 0;
    left: 40%;
    width: 90%;
    width: 310px;
    height: 244px;
  }
  .lesson .lesson__inner .lesson__content {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
    align-content: center;
  }
  .lesson .lesson__inner .lesson__content .lesson__item {
    text-align: center;
  }
  .lesson .lesson__inner .lesson__img {
    width: 250px;
    height: 345px;
    left: 10px;
  }
  .lesson .lesson__inner .lesson__img img {
    width: 250px;
    height: 345px;
  }
}/*# sourceMappingURL=style.css.map */